.listing {
	max-width: 600px;
	margin: 20px auto;
}

.track {
	border-bottom: 1px solid #ccc;
	height: 90px;
	position: relative;
	text-align: left;
	padding: 20px 20px 10px 90px;
}

	.track img {
		position: absolute;
		top: 10px;
		left: 0;
	}

	.track h4, .track .artist {
		margin: 0 0 10px;
    overflow: hidden;
    white-space: nowrap;
		text-overflow:ellipsis;
	}