.addButton,
.savePlaylistButton {
	height: 40px;
	padding: 0 15px;
	background: #005792;
	border: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	margin: 2em auto;
	display: block;
	clear: both;
}

	.addButton:hover {
		transform: scale(1.05);
	}

	.savePlaylistButton {
		background: #fff;
		color: #005792;
		margin: 2em 0 0.5em;
	}

	.savePlaylistButton:hover {
		background: #ccc;
	}

.playlist {
	position: absolute;
	width: 350px;
	right: 50px;
	bottom: 40px;
	background: #005792;
	color: #fff;
	text-align: left;
	padding: 5px 20px 15px;
	max-height: calc(100% - 130px);
	overflow-y: scroll;
}

.track {
	margin: 10px 0;
}

	.track:first-of-type {
		border-top: none;
	}

	.track img {
		float: left;
		margin-right: 10px;
	}

	.track h4 {
		font-weight: normal;
		line-height: 35px;
		font-size: 0.85em;
		margin: 0;
		white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	}